<div>
	<% if $global_BBVA != nil and $global_BBVA.size>0	 %>
	<h1 align="center">BBVA</h1>		
	<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left">Id</th>
				<th class="text-left">Tipo planilla</th>
				<th class="text-left">Fecha de carga</th>
				<th class="text-left">Total</th>
				<th class="text-left">Generado</th>	
				<th class="text-left"></th>					
			</tr>
		</thead>
		<tbody class="table-hover">
			<% $global_BBVA.each do |banco| %>
			<tr>
				<td class="text-left"><%= banco.id %></td>	
				<td class="text-left"><%= banco.planilla %></td>	
				<td class="text-left"><%= banco.fecha %></td>	
				<td class="text-left"><%= banco.total %></td>	
				<td class="text-left"><%= banco.generado == true ? "Si" : "No" %></td>	
				<td class="text-left">
					<%= button_to 'Generar', {:controller => "bbva", :action => "export", :id => banco.id} , {class: "myButton"} %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

</div>