<!DOCTYPE html>
<html>
<head>
	<title>UpcProject</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.1.1/flexboxgrid.min.css" type="text/css" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="be-red white large-padding">
			<ul class="no-list row center-xs middle-xs">
				<li class="col-md">
					<h1 class="no-margin" id="logo">Sysde</h1>	
				</li>
				<li class="col-md">
					<%= link_to "Inicio", "/welcome/index" %>
				</li>
				<li class="col-md">
					<%= link_to "Grupo", "/grupo/lista" %>
				</li>
				<li class="col-md">
					<%= link_to "Importar Planilla", "/planilla" %>
				</li>
				<li class="col-md">
					Bancos
					<ul>
						<li><%= link_to "BCP", "/banco/bcp" %></li>
						<li><%= link_to "ScotiaBank", "/banco/scotia" %></li>
						<li><%= link_to "BBVA", "/banco/bbva" %></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>

	<%= yield %>

</body>
</html>