<!DOCTYPE html>
<html>
<head>
	<title>UpcProject</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.1.1/flexboxgrid.min.css" type="text/css" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="wrapper">
			<h1 class="brand">Sysde</h1>
			<ul class="main-nav">
				<li> 
					<%= link_to "Inicio", "/welcome/index" %>					
				</li>				
				<li>
					<%= link_to "Importar Planilla", "/planilla" %>
				</li>
				<li>
					<a>Bancos</a>
					<ul class="sub-menu" style=" color: black">
						<li><%= link_to "BCP", "/bcp/view" %></li>
						<li><%= link_to "Scotiabank", "/scotia/view" %></li>
						<li><%= link_to "BBVA", "/bbva/view" %></li>
					</ul>
				</li>
			</ul>
		</div>
	</header>	

	<%= yield %>

</body>
</html>